# .NET
*.obj
*.bin
*.user
*.suo
*.vs/
*.vssscc
*.psess
*.exp
*.cache
*.log
*.i
*.resources
*.resx
*_i.c
*_p.c
*.ilk
*.pdb
*.ipch
*.sbr
*.sdf
*.opensdf
*.scc
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.ncb
*.log
*.dll
*.exe
*.deploy
*.app
*.gch
*.pch
*.suo
*.sln.docstates
*.suo
*.user
*.aps
*.vcproj
*.vcxproj.user
*.vcxproj.filters
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.opendb
*_i.c
*_p.c
*.obj
*.ilk
*.log
*.tlog/
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ipch
*.sbr
*.sdf
*.opensdf
*.scc
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.ncb
*.log
*.dll
*.exe
*.deploy
*.app
*.gch
*.pch
*.suo
*.sln.docstates
*.user
*.aps
*.VC.db
*.VC.VC.opendb
